
* {
    margin: 0px;
    padding: 0px;
}

#pageHeader {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 30px;
    background-color: #ddd;
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
}

#pageContent {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    bottom: 30px;
    background-color: #eee;
}

#pageFooter {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 30px;
    background-color: #ddd;
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
}

/* ========== browse page */
.productCell {
    position: relative;
    width:150px;
    height:180px;
    background-color: #fff;
    border: 1px solid black;
    margin: 5px;
    padding: 2px;
    float: left;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
}
.productCellChosen {
    border: 3px solid #CAA;
    background-color: #eee;
}
.productCell.productCellChosen {
    margin: 3px;
}

.productCell .expand {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 19px;
    cursor: pointer;
}

#browseCrumb {
    position: absolute;
    top: 2px;
    height: 22px;
    left: 0px;
    right: 0px;
    background-color: #333;
    color: #fff;
    padding-left: 5px;
}
#sortOrderList {
    position: absolute;
    top: 2px;
    right: 20px;
}

#largeImageDisplay {
    position:absolute;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    background-color: #d8d8d8;
    width: 500px;
    height: 610px;
}
#largeProductClose {
    position: absolute;
    right: 2px;
    top: 2px;
    border: 1px solid black;
    width: 18px;
    height: 18px;
    font-size: 18px;
    text-align: center;
    line-height: 19px;
    cursor: pointer;
}
#largeImageWrapper {
    position: absolute;
    left: 5px;
    top: 5px;
}
#largeImageWrapper img {
    max-width: 460px;
    max-height: 590px;
}

#browseOptions {
    position: absolute;
    top: 27px;
    left: 2px;
    bottom: 47px;
    width: 180px;
    border-right: 1px solid #ccc;
    padding: 0px 2px;
    overflow-y: auto;
}

#browseOptions .expander {
    margin-bottom: 5px;
}
#browseOptions .expanderHeader {
    background-color: #ded;
}
#browseOptions .expanderBody {
    background-color: #eee;
    font-size: 14px;
}
#brandList {
    max-height: 300px;
    overflow: auto;
    padding-left: 2px;
}

#browseResults {
    position: absolute;
    top: 27px;
    left: 190px;
    right: 2px;
    bottom: 50px;
    overflow-y: auto;
}

#browseThumbs {
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    height: 45px;
    background-color: #ddd;
    border-top: 1px solid #ccc;
}
#browseThumbs .thumb {
    float: left;
    margin: 3px 5px;
}

/* ========== retailer list page */
#retailerList {
    height: 90%;
    overflow-y: auto;
}

/* ========== comparison page */
#comparison {
    margin: 10px;
}

#comparison table {
    margin: 10px 0;
    width: 600px;
}
